@model IEnumerable<E_Commerce.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-secondary fw-bold">Categories</h2>
       
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">

                <div class="card shadow-sm border-0 h-100">

                    <img src="@item.ImagePath"
                         class="card-img-top"
                         style="height:200px; object-fit:cover;" />

                    <div class="card-body">

                        <h5 class="card-title fw-bold">@item.Name</h5>

                        <p class="card-text text-muted" style="min-height:60px;">
                            @item.Description
                        </p>

                        @if (item.IsDeleted == true)
                        {
                            <span class="badge bg-danger">Not Active</span>
                        }
                        else
                        {
                            <span class="badge bg-success">Active</span>
                        }

                    </div>

                    <div class="card-footer bg-white border-0 d-flex justify-content-between">

                        <a asp-action="Details" asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-info">
                            Details
                        </a>

                       

                    </div>

                </div>

            </div>
        }
    </div>
</div>
